<div class="container">
  <% if @menus.any? %>
    <div class="row">
    <% @menus.each do |menu| %>
     <div class="card" style="width: 18rem; margin: 5px; text-align: center;">
        <%= image_tag('menu.jpg', :class => 'card-img-top')%>
       <% if menu.date == Date.today %>
          <h5 class="card-title" >Today's menu </h5>
        <% else %>
          <h5 class="card-title">Menu on <%= menu.date.day %>.<%= menu.date.month%></h5>
        <% end %>
        <%= link_to "Show me", '/weekday/menu/' + menu.id.to_s, :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  <% else %>
<div class="card text-center">
  <div class="card-body">
    <h5 class="card-title">Waiting for a fresh menu</h5>
    <p class="card-text">It's so empty here, please stand by.</p>
  </div>
</div>
  <% end %>
</div>
